* {
    padding: 0;
    margin: 0;
    text-decoration: none;
}
.home {
    height: 100vh;
    width: 100%;
    background-color: #101010;
}
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 8%;
    padding-left: 8%;
    background-color: #191919;
    border-bottom: 1px solid red;
}
.logo {
    color: white;
    font-size: 35px;
    letter-spacing: 1px;
    cursor: pointer;
}
span {
    color: red;
}
nav ul li {
    list-style-type: none;
    display: inline-block;
    padding: 10px 25px;
}
nav ul li a {
    color: white;
    font-weight: bold;
    font-size: 16px;
    text-transform: capitalize;
}
nav ul li a:hover {
    color: red;
    transition: 0.5s;
}
.btn {
    background-color: red;
    color: white;
    border: 2px solid white;
    font-weight: bold;
    padding: 5px 15px;
    border-radius: 30px;
    transition: transform .5s;
}
.btn:hover {
    transform: scale(1.2);
    border: 2px solid red;
    background-color: transparent;
}
.image {
    width: 50%;
    height: 90%;
    position: absolute;
    bottom: 0;
    right: 30px;
}
.image img {
    height: 100%;
    width: 100%;
    position: absolute;
    bottom: 0;
    right: 23%;
    transform: translateX(20%);
}
.content {
    position: absolute;
    top: 60%;
    left: 8%;
    transform: translateY(-50%);
}
h4 {
    color: #fcfcfc;
    letter-spacing: 2px;
    font-size: 20px;
}
h1 {
    color: white;
    font-size: 65px;
    margin: 20px 0 20px;
}
h3 {
    color: white;
    font-size: 25px;
    margin-bottom: 50px;
}
.content a {
    font-size: 20px;
    background: red;
    color: white;
    display: inline-block;
    padding: 10px 30px;
    border-radius: 30px;
    border: 2px solid white;
    transition: .5s;
}
.content a:hover {
    background: transparent;
    border: 2px solid red;
}
